body {
	font-family: "Arial", sans-serif;
	background-color: #f7fafc;
	text-align: center;
	padding: 20px;
}

h1 {
	font-size: 2rem;
	color: #1a202c;
}

small {
	font-size: 0.8rem;
	color: #3c444f;
}

strong {
	font-weight: bold;
	color: #1a202c;
}
